.item {
    border: 1px solid teal;
    border-radius: 2px;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    line-height: 1.5;
}

.icon {
    width: 30px;
    align-self: center;
}