.section {
    margin: 5px;
}
.triangle_topright {
	width: 0;
	height: 0;
	border-top: 40px solid var(--secondary-color);
	border-left: 100px solid transparent;
}

.triangle_topleft {
	width: 0;
	height: 0;
	border-top: 40px solid var(--secondary-color);
	border-right: 100px solid transparent;
}

.square {
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--secondary-color);
    border-radius: 5px 5px 0 0;
    background: linear-gradient( rgb(253, 253, 253) 0%,rgb(253, 253, 253) 50%, var(--secondary-color) 97%);
    height:60px;
    width:200px;
}

.align {
    display: flex;
    flex-direction: row;
}